.navbar {
  display: flex;
  justify-content: space-between;
  padding: 24px 90px;
  font-weight: 400;
  font-size: 26px;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: 2px 4px 12px 4px #d9d9d9;
}

.menu {
  display: flex;
  gap: 114px;
}

.list {
  display: flex;
  gap: 40px;
}

.link {
  text-decoration: none;
  color: #000;
}

.prof {
  display: flex;
  gap: 40px;
  align-items: center;
}

.btn {
  font-weight: 400;
  font-size: 26px;
  color: #000;
  border: none;
  background: transparent;
  cursor: pointer;
}
